.announcements__post {
    background-color: @dark-background-secondary;
    border-radius: 2px;
    margin: 2rem 1rem 1rem 1rem;
    padding-left: .5rem;
}

.post-bottom {
    margin: 1rem;
}
.post-bottom span {
    margin-right: 1rem;
}