.create-team-leagueLogo {
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
}

.create-team-leagueName {
   letter-spacing: 1px;
   font-weight: 700;
   margin-top: 5px;
}
.create-team-card {
   border-radius: 1rem;
   background-color: #fdfffc;
}
.create-team-title {
   font-size: 1.2rem;
   font-weight: 400;
   font-style: italic;
}
