.createleague {
   background-color: @background-primary;
}

.createleague label {
   color: @font-primary;
}

.league-logo {
   width: 8rem;
   height: 8rem;
   border: 2px solid grey;
}

.league-logo:hover {
   transform: scale(1.1);
   transition: 0.3s;
   cursor: pointer;
}
