.dashboard__container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

//  Navbar
.dashboard__navbar {
    display: flex;
    flex-basis: 10%;
}

.dashboard__navbar-items {
    display: flex;
    flex-direction: column;

}

.dashboard__navbar-items a {
    margin-left: .5rem;
}

// Main section
.dashboard__main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dashboard__main-body {
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 100%;
}

.dashboard__main-header{

}

