.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    gap: 5rem;
}

.dashboard-profile-container {
    border-style: solid;
}



