.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
    color: @font-primary;
}

.dashboard-profile-container {
    border-style: solid;
    width: 60%;
    background-color: rgb(37, 36, 36);
    padding: 1rem;
}

.dashboard-player {
    display: flex;
    flex-direction: column;
}

.dashboard-director-container {
    border-style: solid;
    width: 60%;
    background-color: rgb(37, 36, 36);
    padding: 1rem;
}

.dashboard-director-table th,
.dashboard-director-table td {
    color: @font-primary;
    padding: 1rem;
}

.dashboard-manager-container{
    border-style: solid;
    width: 60%;
    background-color: rgb(37, 36, 36);
    padding: 1rem;
}

.dashboard-manager-table th,
.dashboard-manager-table td {
    color: @font-primary;
    padding: 1rem;
}


