.home-container h1 {
    color: @dark-font-primary;
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.home-popular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-popular h3 {
    color: @dark-font-primary;
    margin-bottom: 2px;
    text-decoration: underline;
    text-decoration-color: @link-primary;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
}

.home-popular-cards {
    display: flex;
    gap: 5rem;
    margin: 2rem;
}

.home-popular-cards a {
    //border: 1px grey solid;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    color: @dark-font-primary;
    background-color: @dark-background-secondary;
}

.home-leagues {
    display: flex;
    flex-direction: column;
}

.home-leagues-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20 15 30 15;
}

.home-leagues-cards {
    display: flex;
    margin-left: 40px;
    flex-direction: row;
    flex-flow: wrap;
    gap: 2rem;
}

.home-leagues-cards h4{
    color: @dark-font-primary   ;
}

.home-leagues-cards p{
    color: @dark-font-primary;
}


.home-league-card {
    background-color: @dark-background-secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //border: .05px grey solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    align-items: flex-start;
}
.home-league-card h2 {
    height: 125px;
}

.home-league-card-text {
    width: 100%;
}

.home-card-text-subtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-card-text-subtext p{
    font-size: .7rem;
    margin: 0;
}