.inbox__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.inbox__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.inbox__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
    margin-bottom: 15px;
}

.inbox__row-name {
    
}