.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.landing-header h1 {
    color: @font-primary;
    margin-top: 1rem;
}

.landing-features-center {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.landing-features-center h4{
    color: @font-primary;
}

.landing-features-center p {
    color: @font-secondary;
}

.landing-features-center a {
    color: @link-primary;
}

.landing-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: .5px @font-secondary solid;
    border-radius: 5px;
    padding: 20px;
}

.landing-feature-description {

}