.league-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f6f3f3;
    height: 100vh;
}

.league-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    //justify-content: center;
    //position: absolute;
    //margin-left: 20rem;
    // margin-right: auto;
}
@media (max-width: 900px) {
    .league-main {
        margin-left: 10rem;
    }
}

.league-head {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 2rem;

}

.league-head img {
    margin-right: 1rem;
}

.league-head h2 {
    margin-right: 1rem;
}

.league-main-upper {
    margin-top: 2rem;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 10px grey;
}

.league--navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    border-bottom: .5px lightblue solid;
    margin-bottom: 0;
    position: relative;
}

.league--navbar-items a {
  width: 100%;
  height: 3rem;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
  margin-right: 3rem;
}

.league--navbar-items a.active {
    color: red;
    margin-bottom: 0;
}

.league--navbar-items a:hover {
    cursor: pointer;
}

// .league__head {
//     display:flex;
//     justify-content: center;
//     align-items: flex-end;
//     box-shadow: 2px 2px 4px #000, -2px -2px 4px #fff;
//     box-shadow: 0 0px 50px rgb(42, 249, 249);
// }

// .league__head h2{
//     color: @font-primary;
//     margin-left: 30px;
    
// }

// .league__head h5{
//     color: @font-primary;
//     font-size: .9rem;
//     margin-left: 10px;
//     margin-bottom: 10px;
// }

// .league__container-upper {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     margin: 2rem;
//     height: 50vh;
// }


// .league__container-main{
//     display: flex;
//     flex-direction: column;
//     margin: 2rem;
// }

// .league__content {
//     display: flex;
//     flex-direction: row;
//     gap: 10px;
// }

// .league__content--body {
//     color: @font-primary;
//     margin-left: 200px !important;
//     margin-right: 20px;
//     border-radius: 20px;
//     height: 100vh;
//     flex-basis: 85%;
// }



// .league__info--description {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin: 0 2rem 0 2rem;
//     padding: 2rem;
//     background-color: @dark-background-secondary;
//     border: .5px black solid;
//     border-radius: 20px;
// }
// .league__info--description a{
//     display: flex;
//     justify-content: flex-end;
    
// }


// .league__info--description h5{
//     display: flex;
//     justify-content: center;
//     font-weight: 500;
//     color: @dark-font-primary;
// }

// .league__info--description p{
//     border-bottom: 1px black solid;
//     padding-bottom: 15px;
//     font-weight: 100;
//     color: @dark-font-primary;
//     font-size: .8rem;
// }
