.forgot-password {
   text-decoration: none;
}

.forgot-password:hover {
   font-size: 16px;
   transition: 0.3s;
   text-decoration: underline;
}

.sign-up {
   text-decoration: none;
}

.sign-up:hover {
   font-size: 18px;
   transition: 0.3s;
   text-decoration: underline;
}

.social-icon:hover {
   font-size: 20px;
   transition: 0.3s;
}
