* {
   font-family: "Roboto", sans-serif;
}

form {
   display: flex;
   flex-direction: column;
}

body {
   background-color: white;
}

form > * {
   margin: 1rem;
}

.app {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
