* {
   font-family: "Roboto", sans-serif;
}

form {
   display: flex;
   flex-direction: column;
}

body {
   background-color: white;
}

form > * {
   margin: 1rem;
}

.app {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

@media (max-width: 900px) {
   footer {
      font-size: 12px;
   }

   footer a {
      font-size: 10px;
   }
}
