* {
    font-family: 'Montserrat', sans-serif;
}
    
form {
    display: flex;
    flex-direction: column;
}

body {
    background-color: @background-primary;
}
    
form > * {
    margin: 1rem;
}
    
nav {
    display: flex;
    justify-content: space-around;
}


a {
    text-decoration: none;
}

