// .single-match-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     margin: 5rem;
//     height: 25%;
//     border: 1px grey solid;
//     border-radius: 20px;
// }

// .matches-container { 
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100vh;
// }

// .matches-name{
//     color: @font-primary;
// }

// .matches-dates {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     width: 100%;
// }

// .matches-vs {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin-top: 1px;
// }

// .matches-vs p {
//     margin-top: 1px;
//     font-size: smaller;
//     font-style: italic;
//     color: grey;
// }

// .matches-location {
//     display: flex;
//     justify-content: space-between;

// }

.matches-header {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    // flex-direction: column;
}

.matches-header h2{
    color: @font-primary;
    margin-left: 30px;
    
}

.matches-header h5{
    color: @font-secondary;
    font-size: .9rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

.matches--match-container {
    background-color: @background-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    border: 1px grey solid;
    border-radius: 20px;
    max-width: 75%;
}


.matches--match-container h5 {
    color: @font-primary;
}

.matches--match {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vh;
}

.matches--match p{
    color: @font-primary
}

.matches--match h5{
    color: @font-primary;
}

.matches--match-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.matches--match-vs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.matches--match-vs p {
    margin: 0 10px 0 10px;
}

.matches-vs-team {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}
.matches-vs-team p:nth-child(2){
    margin-top: 1px;
    font-size: smaller;
    font-style: italic;
    color: grey;
}

.matches--match-lower {
    display: flex;
    justify-content: space-between;
}