.single-match-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    height: 25%;
    border: 1px grey solid;
    border-radius: 20px;
}

// .matches-container { 
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100vh;
// }

.matches-name{
    color: @font-primary;
}

.matches-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.matches-vs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1px;
}

.matches-vs p {
    margin-top: 1px;
    font-size: smaller;
    font-style: italic;
    color: grey;
}

.matches-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}