/* ---------- NavBar Customization ---------- */

.navbar-tab {
   letter-spacing: 0px;
}

/* Hide the dropdown arrow below icon */
.caret-off::before {
   display: none;
}
.caret-off::after {
   display: none;
}

/* Footer customization */
.footer-tag {
   letter-spacing: 0;
}
