/* ---------- NavBar Customization ---------- */
nav {
   display: flex;
   justify-content: space-around;
   z-index: 99;
}

/* Hide the dropdown arrow below icon */
.caret-off::before {
   display: none;
}
.caret-off::after {
   display: none;
}

