.newsfeed-container {
    display: flex;
    justify-content: column;
}

.newsfeed__createpost {
    background-color: white;
    margin: 2rem 0 1rem 0;
    box-shadow: 0 0 7px grey;
}

.newfeed__posts {
    display: flex;
    flex-direction: column;
}

.newsfeed__post {
    background-color: white;
    margin: 2rem 0 1rem 0;
    padding: 1rem;
    box-shadow: 0 0 7px grey;
}

.newsfeed__post-upper span {
    font-weight: bold;
}

.newsfeed__post-content {
    margin: .5rem;
}