.newsfeed-container {
    display: flex;
    justify-content: column;
}

.newsfeed__createpost {
    background-color: white;
    margin: 2rem 0 1rem 0;
    box-shadow: 0 0 7px grey;
}

.newsfeed__createpost input {
    background-color: #f6f3f3;
    border: none;
    border-radius: 25px;
}

.newsfeed__createpost input::placeholder {
    margin-left: .5rem;
}

.newfeed__posts {
    display: flex;
    flex-direction: column;
}

.newsfeed__post {
    background-color: white;
    margin: 2rem 0 1rem 0;
    padding: 1rem;
    box-shadow: 0 0 7px grey;
}
.newsfeed__post-upper {
    display: flex;
    flex-direction: column;
}
.newsfeed__post-upper span {
    font-weight: bold;
}

.newsfeed__post-content {
    margin: .5rem;
}

.newsfeed__post-lower {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    border-top: .5px solid rgb(188, 188, 188);
    border-bottom: .5px solid rgb(188, 188, 188);
}

.newsfeed__post-lower span {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 25px;
}

.newsfeed__post-lower span:hover {
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}