/* ---------- Register Customization ---------- */

.register-login {
   text-decoration: none;
   color: black;
}
.register-login-here:hover {
   text-decoration: underline;
   font-size: 16px;
   transition: 0.3s;
}
.register-login-here {
   color: black;
   letter-spacing: 0;
   font-size: 14px;
}
