.requestform__container {
    height: 100vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.requestform__container label{
    color: black;
}

.requestform__upper {
    display: flex;
    flex-direction: column;
}

.requestform__upper-item {
    display: flex;
    gap: 2rem;
}

.requesform__upper-item label {
    background-color: aliceblue;
}

.requestform__summary {
    display: flex;
    flex-direction: column;
}