.scorekeeper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: @dark-background-primary;
    color: white;
}

.scoreboards-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 1rem;
}

.team-scoreboard-container {
    background-color: @dark-background-secondary;
    padding: 3rem;
    border-radius: 8px;
    width: 50rem;
}

.playerScores-container {
    height: 20rem;
    width: 100%;
    background-color: @dark-background-alt;
    padding: 2rem;
    border-radius: 8px;
    overflow-y: scroll;
}

.score-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}