.sidebar__container {
   //flex: 2;
   position: sticky;
   top: 70px;
   height: calc(100vh - 70px);

   background-color: white;
   color: black;
   margin: 0;
   width: 15rem;
}

.sidebar__container {
   padding: 20px;
}

// .sidebar__container hr {
//     margin: 20px 0px;
//     border: none;
//     height: 0.5px;
//     background-color: white;
// }

.menu {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.menu span {
   font-size: 1rem;
}

.item {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-left: 1rem;
}

.item:hover {
   cursor: pointer;
}

// .item span Link{
//     font-size: 14px;
//     font-weight: bold;
//     text-decoration: none;
//     color: black;
// }

.nav-link Link {
   font-size: 14px;
   font-weight: bold;
   text-decoration: none;
   color: black;
}

// .sidebar__container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 2rem;
//     background-color: white;
//     border-top-right-radius: 25px;
//     border-bottom-right-radius: 25px;
//     box-shadow: 0px 0px 5px 1px grey;
// }

// .nav.flex-column.nav-link.dropdown-toggle {
//     position: relative;
// }

// .nav.flex-column .nav-link.dropdown-toggle::after {
//     position: absolute;
//     top: 50%;
//     right: 1rem;
//     transform: translateY(-50%);
// }

// .nav.flex-column .dropdown-menu {
//     position: absolute;
//     top: 0;
//     left: 100%;
//     margin-left: 0.5rem;
// }

// .nav-link {
//     color: black;
//     font-weight: bold;
// }
