.sidebar {
   height: 100vh;
   position: sticky;
   top: 0px;
   height: 100vh;
   background-color: white;
   color: black;
   margin: 0;
   width: 15rem;
   padding: 20px;
   box-shadow: 1px 1px 5px grey;
}

.menu {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.menu span {
   font-size: 1rem;
}
          
.item {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-left: 1rem;
}

.item:hover {
   cursor: pointer;
}
  
.nav-link Link{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black; 
}
    
