.standings__container {
    margin-top: 1rem;
    // background-color: @background-secondary;
}
.standings__container, .table{
    margin-top: 1rem;
}
.table {
    background-color: blue;
    width: 100%;
    border-collapse: collapse;
    color: blue;
}

.table__header {
    background-color: blue;
    font-weight: bold;
    padding: 0.5rem;
    text-align: left;
}

.table__body-container {
    background-color: blue;
}

.table__cell {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

.table__cell:first-child {
    border-top-left-radius: 0.25rem;
}

.table__cell:last-child {
    border-top-right-radius: 0.25rem;
}

.table__cell:nth-child(even) {
    // background-color: #f8f9fa;
}
  