.standings__container {
    margin-top: 2rem;
    height: 60vh;
    background-color: @dark-background-alt;
    border-radius: 8px;
    box-shadow: @dark-box-shadow;
}
.standings__container .standings__table{
    margin-top: .5rem;
}
.standings__table {
    width: 100%;
}

.table__header {
    font-weight: bold;
    padding: 0.5rem;
    text-align: left;
}


.table__cell {
    padding: 1rem;
    color: @dark-font-primary;
    cursor: pointer;
}



.table__body-container tr:hover {
    background-color: @dark-background-secondary;
}

.standings-link {
    text-decoration: none;
}

@media (max-width: 1185px){
    .table-header-container:last-child {
        display: none;
    }
}