.team__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: @font-primary;
    margin: 3rem;
}

.team__content {
    background-color: dodgerblue;
}

.team__content-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}

.team__content-nav li {
   margin: 5px;
}