
@background-primary: white;
@background-secondary: grey;
@background-alt: #45586c;
@link-hover-primary: #394c5f;
@font-primary: black;
@font-secondary: rgb(70, 70, 70);
@link-primary: rgb(0, 143, 153);
@link-secondary: #C40112;
@shadow-red: black;

//Dark
@dark-background-primary: #1F1F1F;
@dark-background-secondary: #515b67;
@dark-font-primary: white;
@dark-font-secondary: grey;
@dark-font-alt: rgb(251, 251, 251);
@dark-background-alt: #45586c;
@dark-link-primary: rgb(0, 238, 255);