@background-primary: #F5F7FB;
@background-secondary: rgb(60, 62, 63);
@background-alt: #45586c;
@link-hover-primary: #394c5f;
@font-primary: black;
@font-family: 'Roboto', 'sans-serif';
@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-bold: 700;
@font-secondary: rgb(70, 70, 70);
@link-primary: rgb(0, 143, 153);
@link-secondary: #C40112;
@shadow-red: black;

// //Dark
@dark-background-primary: #112222;
@dark-background-secondary: #2a5262;
@dark-background-alt: #386e84;
@dark-background-alt-bright: #58aecf;

// fonts
@dark-font-primary: rgb(255, 255, 255);
@dark-font-secondary: rgb(228, 228, 228);
@dark-font-alt: rgb(113, 113, 113);

// Other
@dark-box-shadow: 0px 5px 3px 3px rgb(19, 19, 19);
@dark-box-shadow-lighter: 0px 3px 4px 2px rgb(44, 44, 44);
@dark-border: #88d2ef;



// Darker
// @dark-background-primary: #000000;
// @dark-background-secondary: #384a54;
// @dark-background-alt: #536b7c;
// @dark-font-primary: rgb(255, 255, 240); //  old yellowish
// @dark-font-secondary: rgb(255, 255, 157); //  old yellow


//Light
@font-primary: black;
@font-family: "Roboto", "sans-serif";
@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-bold: 700;
@font-secondary: rgb(70, 70, 70);
@link-primary: rgb(0, 143, 153);
@link-secondary: #c40112;
@background-primary: #f5f7fb;
@background-secondary: rgb(60, 62, 63);
