.league-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #152c2c;
  overflow-y: scroll;
  margin: 0;
}
.league-container a,
p {
  color: #ffffff;
}
.league__content {
  background-color: #152c2c;
}
.league-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 3rem;
}
.league-head {
  background-color: #2a5262;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  border-radius: 8px;
}
.head-left {
  display: flex;
  flex-direction: row;
  margin-top: 1.2rem;
}
.head-left-content {
  color: #ffffff;
}
.league-head img {
  margin-right: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 1.5px #88d2ef solid;
}
.league-head h2 {
  margin-right: 1rem;
}
.head-request {
  text-decoration: none;
}
.league-main-upperbox {
  background-color: #2a5262;
  margin-top: 2rem;
  border-radius: 8px;
}
.head__about {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #386e84;
}
.head__about-content {
  color: #ffffff;
}
.league--navbar-items {
  background-color: #2a5262;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  border-radius: 8px;
}
.league--navbar-items a {
  width: auto;
  color: #ffffff;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  margin-right: 3rem;
}
.league--navbar-items a.active {
  color: #ffffff;
  margin-bottom: 0;
  transform: scale(1.1);
  letter-spacing: 0.2rem;
}
.league--navbar-items a:hover {
  cursor: pointer;
  transform: scale(1.1);
  letter-spacing: 0.2rem;
}
@media (max-width: 1664px) {
  .league--navbar-items a {
    margin-right: 2rem;
    font-size: 1rem;
  }
}
@media (max-width: 1320px) {
  .league-container {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
  }
}
@media (max-width: 1185px) {
  .league-main-upper {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 1140px) {
  .league--navbar-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .league-main {
    margin-left: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 750px) {
  .league-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .league-main {
    margin-left: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .league-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .league-main-upper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .league-head {
    background-color: #2a5262;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
  }
  .league-navbar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .league--navbar-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    font-size: 1rem;
  }
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
form {
  display: flex;
  flex-direction: column;
}
body {
  background-color: #112222;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  margin: 0;
}
@media (max-width: 900px) {
  footer {
    font-size: 12px;
  }
  footer a {
    font-size: 10px;
  }
}
@media (max-width: 1320px) {
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  letter-spacing: 0.2rem;
}
.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f6f3f3;
  height: 100vh;
}
.team-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media (max-width: 900px) {
  .team-main {
    margin-left: 10rem;
  }
}
.team-head {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 2rem;
}
.head-left-content i {
  font-weight: 600;
}
.team-head img {
  margin-right: 1rem;
}
.team-head h2 {
  margin-right: 1rem;
}
.team-main-upper {
  margin-top: 2rem;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 10px grey;
}
.team--navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  border-bottom: 0.5px lightblue solid;
  margin-bottom: 0;
  position: relative;
}
.team--navbar-items a {
  width: 100%;
  height: 3rem;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
  margin-right: 3rem;
}
.team--navbar-items a.active {
  color: red;
  margin-bottom: 0;
}
.team--navbar-items a:hover {
  cursor: pointer;
}
.head-right .link {
  text-decoration: none;
}
.matches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 75vh;
  background-color: #386e84;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
  overflow-y: scroll;
}
.matches-container::-webkit-scrollbar {
  background-color: #386e84;
  border-radius: 8px;
  width: 10px;
}
.matches-container::-webkit-scrollbar-track {
  background-color: #386e84;
  border-radius: 8px;
}
.matches-container::-webkit-scrollbar-thumb {
  background-color: #386e84;
  border-radius: 8px;
}
.matches-container::-webkit-scrollbar-thumb:hover {
  background-color: #386e84;
  border-radius: 8px;
}
.matches--match {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a5262;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0px 3px 4px 2px #2c2c2c;
}
.match-body {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  background-color: #2a5262;
  border-radius: 8px;
  padding: 1rem 1rem 1rem 1rem;
}
.match-lower {
  margin: 0.5rem;
}
.match-body p {
  color: #ffffff;
}
.match-score-link {
  text-decoration: none;
}
.standings__container {
  margin-top: 2rem;
  height: 60vh;
  background-color: #386e84;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
}
.standings__container .standings__table {
  margin-top: 0.5rem;
}
.standings__table {
  width: 100%;
}
.table__header {
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}
.table__cell {
  padding: 1rem;
  color: #ffffff;
  cursor: pointer;
}
.table__body-container tr:hover {
  background-color: #2a5262;
}
@media (max-width: 1185px) {
  .table-header-container:last-child {
    display: none;
  }
}
.create-team-leagueLogo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.create-team-leagueName {
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 5px;
}
.create-team-card {
  border-radius: 1rem;
  background-color: #fdfffc;
}
.create-team-title {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  color: black;
  letter-spacing: 0;
}
@media (max-width: 400px) {
  .create-team-form h1 {
    font-size: 14px;
  }
  .create-team-title {
    font-size: 10px;
  }
}
@media (max-width: 1100px) {
  .create-team-form {
    margin-bottom: 100px;
  }
}
.create-league-form {
  background-color: #112222;
}
.createleague label {
  color: black;
}
.league-logo {
  width: 8rem;
  height: 8rem;
  border: 2px solid #112222;
  border-radius: 50% !important;
  background-color: white;
}
.league-logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}
.create-league-title {
  font-size: 10rem;
}
@media (max-width: 770px) {
  * {
    font-size: 10px;
  }
  label {
    font-size: 10px;
  }
}
@media (max-width: 990px) {
  * {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .create-league-form {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .league-logo {
    font-size: 12px;
    width: 6rem;
    height: 6rem;
  }
  .create-league-upload-text {
    font-size: 6px;
  }
}
@media (max-width: 1100px) {
  .create-league-form {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.typography.text-secondary {
  color: red;
}
.sidebar {
  height: 100vh;
  position: sticky;
  top: 0px;
  height: calc(150vh - 72px);
  background-color: #2a5262;
  color: black;
  margin: 0;
  width: 20%;
  padding-left: 2rem;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.menu span {
  font-size: 1.1rem;
  padding: 1rem;
}
.item {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.item-link {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 1rem;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.item-link:hover {
  cursor: pointer;
  background-color: #386e84;
}
@media (max-width: 1320px) {
  .sidebar {
    height: 100vh;
    position: sticky;
    top: 0px;
    height: calc(150vh - 72px);
    background-color: #2a5262;
    color: black;
    margin: 0;
    width: 25%;
    padding-left: 2rem;
  }
  .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 0.5rem;
  }
}
@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
.stats-main {
  margin: 1rem;
}
.stats--navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
}
.stats--navbar-items a {
  width: 100%;
  height: 1rem;
  color: #ffffff;
  font-weight: 400;
  border: none;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
  margin-right: 1rem;
  transition: transform 0.3s ease-in-out;
}
.stats--navbar-items a.active {
  color: #58aecf;
  margin-bottom: 0;
  transform: scale(1.1);
}
.stats--navbar-items a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.announcements__container {
  height: 50rem;
  overflow-y: scroll;
  margin: 1rem;
  z-index: -1;
}
.announcements__container::-webkit-scrollbar {
  background-color: #386e84;
  border-radius: 8px;
  width: 10px;
}
.announcements__container::-webkit-scrollbar-track {
  background-color: #386e84;
  border-radius: 8px;
}
.announcements__container::-webkit-scrollbar-thumb {
  background-color: #386e84;
  border-radius: 8px;
}
.announcements__container::-webkit-scrollbar-thumb:hover {
  background-color: #386e84;
  border-radius: 8px;
}
.announcements__post {
  background-color: #2a5262;
  border-radius: 2px;
  margin: 2rem 1rem 1rem 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.post-header {
  color: #ffffff;
}
.post-content {
  margin-left: 0.5rem;
  font-weight: 200;
}
.post-bottom {
  margin: 1rem;
}
.post-bottom span {
  margin-right: 1rem;
}
.post-likescomments {
  display: flex;
  gap: 1rem;
}
.rightnav-container {
  position: sticky;
  top: 0px;
  height: 100vh;
  background-color: #152c2c;
  color: black;
  margin-left: 0;
  width: 20%;
  padding: 20px;
}
.rightnav-matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-right: 5rem;
  margin-top: 2rem;
  background-color: #2a5262;
  border-radius: 2px;
}
.rightnav-match span {
  margin: 0.5rem;
}
@media (max-width: 1320px) {
  .rightnav-container {
    display: none;
  }
  .rightnav-matches {
    display: none;
  }
}
/* ---------- NavBar Customization ---------- */
.navbar-tab {
  letter-spacing: 0px;
  font-size: 14px;
}
/* Hide the dropdown arrow below icon */
.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}
/* Footer customization */
.footer-tag {
  letter-spacing: 0;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #343a40;
  /* adjust the background color as needed */
  z-index: 999;
  /* add a higher z-index to ensure the footer stays on top */
}
.newsfeed-container {
  display: flex;
  justify-content: column;
  margin: 1rem;
}
.newsfeed__createpost {
  margin: 2rem 0 1rem 0;
}
.newsfeed__createpost input {
  background-color: #2a5262;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 5rem;
  margin-bottom: 1rem;
  width: 85%;
  color: #ffffff;
  padding-left: 2rem;
  font-size: 1.4rem;
}
.newsfeed__createpost input::placeholder {
  margin-left: 0.5rem;
  color: #ffffff;
  font-size: 1.4rem;
}
.newsfeed__createpost input:focus {
  outline: none;
}
.newsfeed__createpost-form {
  display: flex;
  flex-direction: row;
}
.newsfeed__createpost-form button {
  background-color: #386e84;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #ffffff;
  width: 15%;
  height: 5rem;
  padding: 1rem 2rem 1rem 1rem;
}
.newsfeed__createpost-form button:hover {
  background-color: #58aecf;
}
.newfeed__posts {
  display: flex;
  flex-direction: column;
}
.newsfeed__post {
  background-color: #2a5262;
  margin: 2rem 0 1rem 0;
  padding: 1rem;
  border-radius: 8px;
}
.newsfeed__post-upper {
  display: flex;
  flex-direction: column;
}
.newsfeed__post-upper span {
  font-weight: bold;
  color: #ffffff;
}
.newsfeed__post-upper i {
  font-weight: 400;
  color: #ffffff;
}
.post-upper-group {
  display: flex;
}
.post-upper-group img {
  margin-right: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 1.5px #88d2ef solid;
}
.newsfeed__post-content {
  margin: 0.5rem;
}
.newsfeed__post-content article {
  color: #ffffff;
  padding: 1rem;
}
.newsfeed__post-lower {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  border-top: 0.5px solid #bcbcbc;
  border-bottom: 0.5px solid #bcbcbc;
}
.newsfeed__post-lower span {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 15px;
  color: #ffffff;
  padding: 0.5rem;
}
.newsfeed__post-lower span:hover {
  background-color: #386e84;
  cursor: pointer;
}
.newsfeed__nodata {
  background-color: #386e84;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 2rem;
  width: 50%;
  height: 10rem;
}
.newsfeed__nodata h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
/* ---------- Login Customization ---------- */
.forgot-password {
  text-decoration: none;
  letter-spacing: 0;
  font-size: 14px;
}
.forgot-password:hover {
  font-size: 16px;
  transition: 0.3s;
  text-decoration: underline;
}
.sign-up {
  text-decoration: none;
  letter-spacing: 0;
  font-size: 14px;
}
.sign-up:hover {
  font-size: 18px;
  transition: 0.3s;
  text-decoration: underline;
}
.social-icon:hover {
  font-size: 20px;
  transition: 0.3s;
  color: white;
}
@media (max-width: 400px) {
  .forgot-password {
    font-size: 10px;
  }
}
.login-page {
  background-color: #112222;
}
/* ---------- Register Customization ---------- */
.register-page {
  background-color: #112222;
}
.register-login {
  text-decoration: none;
  color: white;
}
.register-login-here:hover {
  text-decoration: underline;
  font-size: 16px;
  transition: 0.3s;
}
.register-login-here {
  color: white;
  letter-spacing: 0;
  font-size: 14px;
}
.register-account-paragraph {
  letter-spacing: 0;
  font-size: 14px;
}
@media (max-width: 400px) {
  .register-header {
    font-size: 14px;
  }
  .register-account-paragraph {
    font-size: 10px;
  }
  .register-login-here {
    font-size: 9px;
  }
}
.request-modal-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1,
h1 {
  font-size: 1.5rem;
}
.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border: 1;
  border-radius: 1rem;
}
.img-hover-zoom--colorize img {
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin-top: 20px;
  padding: 1px;
  transition: transform 0.5s;
}
.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
}
.card h5 {
  overflow: hidden;
  height: 80px;
  font-weight: 300;
  font-size: 1rem;
}
.card h5 a {
  color: black;
  text-decoration: none;
}
.role {
  color: #7a7a7a;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fab {
  font-size: 1.5rem;
  color: darkgray;
  transition: transform 0.5s;
}
.fab:hover {
  color: black;
  transform: scale(1.1);
}
.card h2 {
  font-size: 1rem;
}
.list-inline > li > a {
  text-decoration: none;
  color: black;
}
/* MEDIA */
@media only screen and (min-width: 1200px) {
  .img-hover-zoom--colorize img {
    width: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .staff-container {
    margin-bottom: 200px;
  }
}
@media only screen and (min-width: 900px) {
  .staff-container {
    margin-bottom: 200px;
  }
}
.requestform__container {
  height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.request-form-paragraph {
  letter-spacing: 0;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50% !important;
  background-color: white;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}
.card .card-header {
  font-weight: 500;
  color: white;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid white;
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.nav-borders .nav-link.active {
  border-bottom-color: white;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  letter-spacing: 0;
  font-weight: 700;
}
.user-security-pargraph {
  letter-spacing: 0;
  font-size: 14px;
}
.delete-message {
  font-size: 12px;
}
@media (max-width: 400px) {
  .profile-page-container {
    width: 80%;
    height: 60%;
    margin-bottom: 2rem;
  }
  .user-security-pargraph {
    font-size: 10px;
  }
}
.dashboard__container {
  height: 200vh;
  display: flex;
  flex-direction: row;
  background-color: #152c2c;
}
.dashboard__navbar {
  display: flex;
  flex-basis: 13%;
  height: 100vh;
  background-color: #2a5262;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
}
.dashboard__navbar-items {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}
.dashboard__navbar-items a {
  margin-left: 0.7rem;
  color: #fffff0;
  text-decoration: none;
  padding: 0.65rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
.dashboard__navbar-items a:hover {
  background: linear-gradient(to right, #386e84, #427183);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dashboard__navbar-items h6 {
  font-size: 0.75rem;
  color: #fffff0;
  text-decoration: none;
}
.dashboard__home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.dashboard__home-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin-left: 3rem;
}
.dashboard__main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fffff0;
  margin: 2rem 0 3rem 2rem;
}
.dashboard__main-header h1 {
  font-weight: 600;
}
.dashboard__main-header p {
  font-weight: 600;
}
.main-body-upper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem;
}
.widget__container {
  display: flex;
}
.widget__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.widget__card {
  background-color: #2a5262;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 8px;
  width: 15rem;
}
.widget__card-center p {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
  color: #fffff0;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
.widget__card-center p:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.widget__card-upper {
  color: #fffff0;
  display: flex;
  justify-content: space-between;
}
.dashboard-icon {
  color: #ffffff;
  transition: transform 0.3s ease-in-out;
}
.card-icon:hover {
  transform: scale(1.5);
}
.widget__card-lower {
  color: #fffff0;
  font-size: 0.75rem;
}
.dashboard__leaguedata-container {
  display: flex;
}
.main-body-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5rem;
  margin-top: 3rem;
  border-top: 0.5px solid #386e84;
  padding-top: 3rem;
}
.dashboard__main-content {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  height: 50vh;
}
.post__card {
  background-color: #2a5262;
  border-radius: 8px;
  height: 10rem;
  width: 30rem;
  padding: 1rem;
}
.post__card-upper {
  border-bottom: 0.1rem #386e84 solid;
}
.post__card-upper p {
  color: #fffff0;
}
.post__card-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 1rem;
}
.post__card-content p,
span {
  color: #ffffff;
}
@media (max-width: 1500px) {
  .dashboard__home-body {
    margin-left: 0rem;
    width: auto;
  }
  .main-body-upper {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin: 1rem;
  }
}
@media (max-width: 700px) {
  .dashboard__navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: #2a5262;
    width: 100%;
    top: 0;
  }
  .dashboard__navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 1px;
    padding: 0;
  }
  .dashboard__container {
    height: 250vh;
    display: flex;
    flex-direction: column;
    background-color: #152c2c;
  }
  .dashboard__navbar-items a {
    color: #fffff0;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }
}
.inbox__container {
  display: flex;
  flex-direction: column;
  background-color: #2a5262;
  border-radius: 8px;
  height: 100%;
}
.inbox__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  color: #ffffff;
  border-bottom: 3px solid #386e84;
}
.inbox__header h4 {
  margin: 1rem 0rem 0.5rem 1rem;
}
.inbox__header-requests {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}
.inbox__header-requests p:first-child {
  font-size: 1rem;
}
.inbox__table tr:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
}
.inbox__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  gap: 5rem;
  background-color: #2a5262;
  border-bottom: 0.5px solid #386e84;
  margin-bottom: 0;
  height: 100%;
  padding: 0.5rem;
}
.inbox__row th:hover {
  cursor: pointer;
}
.inbox__row th:first-child {
  width: 2rem;
}
.inbox__row th:nth-child(2) {
  width: 1.5rem;
}
.inbox__row th:nth-child(3) {
  width: 7rem;
  margin-left: auto;
  margin-right: auto;
}
.inbox__row th:nth-child(4) {
  width: 10rem;
}
.inbox__row th:last-child {
  margin-left: auto;
  margin-right: auto;
}
.inbox__row td:hover {
  cursor: pointer;
}
.inbox__row td:first-child {
  width: 2rem;
}
.inbox__row td:nth-child(2) {
  width: 1.5rem;
}
.inbox__row td:nth-child(3) {
  width: 7rem;
}
.inbox__row td:nth-child(4) {
  width: 10rem;
}
.inbox__row:hover {
  background-color: #386e84;
}
.inbox-col-name {
  color: #ffffff;
  font-weight: 600;
}
.inbox-col-content {
  color: #ffffff;
}
.inbox-col-content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inbox-col-content button {
  border: none;
  background-color: #5097b3;
  text-decoration: none;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
  color: #ffffff;
  transition: transform 0.1s ease-in-out;
}
.inbox-col-content button:hover {
  transform: scale(1.1);
}
.inbox__content {
  height: 100%;
  width: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.inbox__content h4,
p {
  color: #ffffff;
  font-weight: 600;
}
.inbox__content p {
  font-weight: 100px;
  font-size: 0.85rem;
}
.inbox__content-top {
  border-bottom: 1px #386e84 solid;
  margin: 1rem;
  padding-bottom: 1rem;
}
.inbox__content-main {
  background-color: #386e84;
  height: 50%;
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.inbox__content-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.inbox__content-lower button {
  border: none;
  border-radius: 5px;
  background-color: #386e84;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
}
.dashboard-icon-back {
  color: #fffff0;
  position: absolute;
  left: 1rem;
}
.dashboard-icon-back:hover {
  color: #fffff0;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.stats--navbar-items {
  margin-bottom: 2rem;
}
.stats--navbar-items a {
  font-weight: 400;
}
@media (max-width: 1175px) {
  .inbox__row td:nth-child(2) {
    display: none;
  }
}
@media (max-width: 900px) {
  .inbox__container {
    width: 50%;
  }
  .inbox__row td:last-child {
    display: none;
  }
}
.dashboard__leagues-container {
  background-color: #2a5262;
  border-radius: 8px;
  box-shadow: 0 0 10px 7px #0e1c1c;
  width: 100%;
}
.dashboard__main-body {
  width: 100%;
}
.leagues-title {
  border-bottom: 2px #386e84 solid;
  margin: 5px;
}
.leagues-title p {
  color: #ffffff;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dashboard__leagues-table {
  background-color: #2a5262;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
}
.leagues-table-row {
  border-bottom: 0.5px #386e84 solid;
  cursor: pointer;
}
.leagues-table-row:hover {
  background-color: #386e84;
  color: #e4e4e4;
}
.leagues-table-header {
  color: #ffffff;
  padding: 1rem;
}
.leagues-table-data {
  color: #ffffff;
  padding: 1rem;
}
.leagues-bottom {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
.leagues-bottom p {
  color: #ffffff;
  margin-bottom: 0;
  cursor: pointer;
}
.main-body-upper {
  margin-right: 0;
}
@media (max-width: 1550px) {
  .leagues-table-header:last-child {
    display: none;
  }
  .leagues-table-data:last-child {
    display: none;
  }
  .dashboard__main-body {
    width: 90%;
  }
}
.dash__league-card {
  background-color: #2a5262;
  width: 40rem;
  height: 50rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.dash__league-card-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px #386e84 solid;
}
.dash__league-card-header h5 {
  color: #ffffff;
}
.dash__league-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;
  border-radius: 10px;
  margin: 1rem;
  padding: 0rem 0rem 0rem 1rem;
}
.dash__league-body p {
  margin-bottom: 0;
}
.dash__league-body-label {
  margin-top: 1.3rem;
}
.dash__league-body-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #386e84 solid;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.dash-button {
  background-color: #152c2c;
  padding: 0rem 1.5rem 0rem 1.5rem;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}
.dash__league-lower {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  cursor: pointer;
}
.dash__league-link {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  text-decoration: none;
  font-weight: 800;
  color: #ffffff;
}
.dashboard-icon-clickable {
  color: #ffffff;
}
.dashboard-icon-clickable:hover {
  cursor: pointer;
}
.dash-header-topright:hover {
  cursor: pointer;
}
.body {
  padding: 0;
  margin: 0;
  background: #4b7c90;
  background: linear-gradient(90deg, #4b7c90 0%, #90bac1 54%, rgba(56, 110, 132, 0.37160802) 100%);
}
.landing_header {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .landing_text_photo {
    display: flex;
    flex-direction: column;
  }
  .section2_photos {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .leagues_photo {
    width: 400px;
    height: 400px;
  }
  .home_photo {
    width: 400px;
    height: 400px;
  }
  .scorekeeper_photo {
    width: 400px;
    height: 400px;
  }
}
.landing_text_photo {
  display: flex;
  flex-direction: row;
  padding: 6rem 4rem;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.landing_header h1 {
  color: black;
  font-weight: 300;
  font-size: 7rem;
  line-height: 6rem;
}
.landing_header p {
  color: black;
  font-family: "Oxygen";
  font-size: 2rem;
  line-height: 3rem;
  padding-top: 1rem;
}
.landing_header span {
  display: block;
  color: black;
  font-family: "Oxygen";
  font-size: 2rem;
  line-height: 3.5rem;
}
.landing_photo {
  background-image: url("https://images.pexels.com/photos/7862657/pexels-photo-7862657.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px black;
}
#section1 {
  padding-bottom: 3rem;
}
.section1-description h5 {
  font-size: 1.5rem;
  font-family: "Roboto";
  line-height: 2.5;
  font-weight: 300;
}
@media screen and (min-width: 800px) {
  .about_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .basketball_photo {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.about_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  background-size: cover;
  padding: 6rem;
  gap: 2rem;
}
#section2 {
  padding-bottom: 3rem;
}
.section2_photos {
  margin: 0;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.home_photo {
  background-image: url("https://images.pexels.com/photos/14401500/pexels-photo-14401500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
}
.home_photo span {
  display: block;
}
.photo-caption {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
  padding: 0 0 0 5px;
  transition: 0.2s ease-in-out;
  display: block;
  text-align: center;
}
.photo-caption:hover {
  font-size: 2rem;
}
.photo-overlay {
  background-color: rgba(155, 155, 155, 0.6);
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
}
.home_photo:hover .photo-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.leagues_photo {
  background-image: url("https://images.pexels.com/photos/159574/american-football-football-defense-tackle-159574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
}
.leagues_photo:hover .photo-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.scorekeeper_photo {
  background-image: url("https://images.pexels.com/photos/209832/pexels-photo-209832.jpeg");
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
}
.scorekeeper_photo span {
  display: block;
}
.scorekeeper_photo:hover .photo-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.cover :any-link {
  font-size: 1.75rem;
  text-decoration: none;
  color: white;
  line-height: normal;
}
.cover :hover {
  color: white;
  font-size: 2rem;
  line-height: 2.5rem;
}
.sports_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sports_icons div {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
}
.players__container {
  margin-top: 2rem;
  height: 60vh;
  background-color: #386e84;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
}
.players__container .players__table {
  margin-top: 0.5rem;
}
.players__table {
  width: 100%;
}
.teamsTable__container {
  margin-top: 2rem;
  height: 60vh;
  background-color: #386e84;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
}
.teamsTable__container .teams__table {
  margin-top: 0.5rem;
}
.teams__table {
  width: 100%;
}
.scorekeeper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #152c2c;
  color: white;
  height: 100vh;
}
.scoreboards-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 1rem;
  margin: 1rem;
  background-color: #2a5262;
  border-radius: 8px;
  position: relative;
}
.team-scoreboard-container {
  padding: 3rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 50rem;
}
.playerScores-container {
  height: 20rem;
  width: auto;
  background-color: #386e84;
  padding-top: 1rem;
  border-radius: 8px;
  overflow-y: scroll;
}
.playerScores-container::-webkit-scrollbar {
  width: 10px;
}
.playerScores-container::-webkit-scrollbar-track {
  background-color: #2a5262;
}
.playerScores-container::-webkit-scrollbar-thumb {
  background-color: #88d2ef;
  border-radius: 5px;
}
.playerScores-container::-webkit-scrollbar-thumb:hover {
  background-color: #386e84;
}
.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 1rem 1.5rem;
  position: relative;
  width: 100%;
}
.score-container .scorekeeper-icon {
  position: absolute;
  right: 1rem;
  bottom: 32px;
}
.score-container:hover {
  background-color: #2a5262;
}
.scorekeeper-lower {
  margin: 1rem;
}
.scorekeeper-lower-actions {
  margin-bottom: 1.5rem;
}
.scorekeeper-lower-actions select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 8px;
  border: 0.2px #88d2ef solid;
  background-color: #386e84;
  margin-right: 1rem;
  width: 8rem;
  font-size: 0.8rem;
}
.scorekeeper-lower-actions button {
  background-color: #58aecf;
  color: #ffffff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
}
.scorekeeper-lower-actions button:hover {
  background-color: #386e84;
}
.scorekeeper-icon {
  color: #ffffff;
  cursor: pointer;
}
.scoreboard-footer {
  position: absolute;
  bottom: 5px;
  left: 44%;
  right: 56%;
  width: 13rem;
}
.scoreboard-footer button {
  background-color: #1ab6f4;
  color: #ffffff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
  font-size: 1.2rem;
}
@media (max-width: 1000px) {
  .scorekeeper-container {
    margin: 0;
  }
  .scoreboards-container {
    margin: 5rem;
    width: 100%;
    height: 60%;
  }
  .team-scoreboard-container {
    padding: 1rem;
  }
}
@media (max-width: 560px) {
  .scoreboard-footer {
    position: absolute;
    bottom: 5px;
    left: 60%;
    right: 40%;
    width: 13rem;
  }
  .scoreboard-footer button {
    padding: 0.2rem 1rem 0.2rem 1rem;
  }
}
@media (max-width: 460px) {
  .scoreboards-container {
    margin: 5rem;
    width: 100%;
    height: 65%;
  }
  .scoreboard-footer {
    position: absolute;
    bottom: 5px;
    left: 30%;
    right: 70%;
    width: 13rem;
  }
  .scoreboard-footer button {
    padding: 0.2rem 1rem 0.2rem 1rem;
  }
}
@media (max-width: 350px) {
  .scorekeeper-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    height: 190vh;
  }
  .scoreboards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  .team-scoreboard-container {
    padding: 3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
  }
  .playerScores-container {
    height: 20rem;
    width: 100%;
    background-color: #386e84;
    padding-top: 1rem;
    border-radius: 8px;
    overflow-y: scroll;
  }
  .score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1rem 1.5rem;
    position: relative;
    width: 50%;
    margin: 0;
  }
  .scorekeeper-lower-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.teamsTable__container {
  margin-top: 2rem;
  height: 60vh;
  background-color: #386e84;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
}
.teamsTable__container .teams__table {
  margin-top: 0.5rem;
}
.teams__table {
  width: 100%;
}
.editleague__container {
  background-color: #2a5262;
  width: 45rem;
  height: 65vh;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
}
.setmatch__container {
  padding: 2rem;
  position: relative;
}
.setmatch__team1,
.setmatch__team2 {
  display: flex;
  gap: 2rem;
  margin: 1rem;
  align-items: center;
}
.setmatch__team1 h4,
.setmatch__team2 h4 {
  color: #ffffff;
}
.setmatch__team1 select,
.setmatch__team2 select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 8px;
  border: 0.2px solid #88d2ef;
  background-color: #386e84;
}
.setmatch__team1 option,
.setmatch__team2 option {
  color: #ffffff;
  background-color: #2a5262;
}
.setmatch__team2 {
  margin-bottom: 2rem;
}
.setmatch__main {
  color: #ffffff;
  margin-left: 1rem;
}
.setmatch__main-items {
  margin-bottom: 1.5rem;
}
.setmatch__main-items label {
  width: 8.5rem;
}
.setmatch__main-items input {
  background-color: #386e84;
  border-radius: 8px;
  border: 0.2px solid #88d2ef;
  height: 2rem;
  color: #ffffff;
  font-weight: 500;
  padding-left: 0.5rem;
}
.setmatch__main-items input::placeholder {
  padding-left: 1rem;
}
.setmatch__form button {
  background-color: #386e84;
  color: #ffffff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  border: 0.2px solid #88d2ef;
  position: absolute;
  bottom: 0;
  right: 2.5rem;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #152c2c;
}
.home-container h1 {
  color: black;
}
.home-popular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.home-popular h3 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 2px;
  text-decoration-skip-ink: none;
}
.home-popular-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin: 2rem;
  width: 100%;
  height: 100%;
}
.home-popular-card {
  background-color: #2a5262;
  border-radius: 8px;
  padding: 1rem 1rem 1rem 1rem;
  color: #ffffff;
}
.home-popular-card:hover {
  background-color: #386e84;
  cursor: pointer;
}
.home-popular-card a {
  transition: font-size 0.3s ease-in-out;
  text-decoration: none;
  margin: 3rem;
}
.home-popular-card a:hover {
  font-size: 1.5rem;
}
.home-leagues {
  display: flex;
  flex-direction: column;
  background-color: #152c2c;
  margin: 5rem;
}
.home-leagues-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20 15 30 15;
  background-color: #152c2c;
}
.home-leagues-header-left h1 {
  color: #ffffff;
}
.home-leagues-header-right {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
.home-leagues-cards {
  display: flex;
  margin-left: 40px;
  flex-direction: row;
  justify-content: center;
  grid-template-rows: 2rem;
  flex-flow: wrap;
  gap: 2rem;
}
.home-leagues-cards a {
  text-decoration: none;
}
.home-leagues-cards h4 {
  color: #ffffff;
}
.home-leagues-cards p {
  color: #ffffff;
}
.home-league-card p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  align-items: flex-start;
}
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  margin-bottom: 1rem;
}
.landing__body-browse-leagues::-webkit-scrollbar {
  width: 10px;
}
.landing__body-browse-leagues::-webkit-scrollbar-track {
  background-color: #152c2c;
}
.landing__body-browse-leagues::-webkit-scrollbar-thumb {
  background-color: #88d2ef;
  border-radius: 5px;
}
.landing__body-browse-leagues::-webkit-scrollbar-thumb:hover {
  background-color: #386e84;
}
.home-leagues-container {
  width: auto;
  height: auto;
}
.landing__body-browse-leagues {
  gap: 2rem;
  margin: 1rem 1rem 2.5rem 1rem;
  width: auto;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  backdrop-filter: blur(100px);
}
.landing__browse-league-card {
  display: inline-block;
  margin: 2rem;
  width: 20rem;
  height: 23rem;
  border-radius: 8px;
  background-color: #2a5262;
  box-shadow: 0px 5px 3px 3px #131313;
}
.browse-header {
  color: #ffffff;
  font-weight: 600;
}
.landing__card-image {
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 100%;
  margin-bottom: 3rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin-left: 1rem;
}
.home-card-text-name {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  margin-bottom: 3rem;
}
.landing__league-card-name {
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
}
.landing__league-card-name-subtext {
  width: 100%;
  line-height: 5px;
  font-weight: 100;
  font-size: 0.75rem;
  color: #717171;
}
.roster__container {
  margin-top: 2rem;
  height: 60vh;
  background-color: #386e84;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
}
.roster__container .roster__table {
  margin-top: 0.5rem;
}
.roster__table {
  width: 100%;
}
.personnel__container {
  margin-top: 2rem;
  height: 60vh;
  background-color: #386e84;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
}
.personnel__container .personnel__table {
  margin-top: 0.5rem;
}
.personnel__table {
  width: 100%;
}
.teaminfo__container {
  margin-top: 2rem;
  padding: 2rem;
  height: 60vh;
  background-color: #386e84;
  border-radius: 8px;
  box-shadow: 0px 5px 3px 3px #131313;
}
.custom-toast {
  background-color: #152c2c;
}
