.league-container {
  background-color: white;
}
.league__head {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 2px 2px 4px #000, -2px -2px 4px #fff;
  box-shadow: 0 0px 50px #2af9f9;
}
.league__head h2 {
  color: black;
  margin-left: 30px;
}
.league__head h5 {
  color: black;
  font-size: 0.9rem;
  margin-left: 10px;
  margin-bottom: 10px;
}
.league__container-upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 50vh;
}
.league__info--description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem 0 2rem;
  padding: 2rem;
  background-color: #515b67;
  border: 0.5px black solid;
  border-radius: 20px;
}
.league__info--description a {
  display: flex;
  justify-content: flex-end;
}
.league__info--description h5 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: white;
}
.league__info--description p {
  border-bottom: 1px black solid;
  padding-bottom: 15px;
  font-weight: 100;
  color: white;
  font-size: 0.8rem;
}
.league__info--match-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3c3e3f;
  box-shadow: 0 0 15px black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  height: 25%;
  border: 0.5px black solid;
  border-radius: 20px;
  max-width: 75%;
}
.league__info--match-container h5 {
  color: white;
}
.league__match--nomatches p {
  color: black;
}
.league__info--match {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vh;
}
.league__info--match p {
  color: white;
}
.league__info--match h5 {
  color: white;
}
.league__info--match-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
}
.league__info--match-upper p {
  color: white;
}
.league__info--match-vs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}
.league__info--match-vs p {
  margin: 0 10px 0 10px;
  color: #00eeff;
}
.league__match-vs-team {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  color: #00eeff;
}
.league__match-vs-team p:nth-child(2) {
  margin-top: 1px;
  font-size: smaller;
  font-style: italic;
  color: grey;
}
.league__info--match-lower {
  display: flex;
  justify-content: space-between;
}
.league__container-main {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.league__content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.league__content--body {
  color: black;
  margin-left: 200px !important;
  margin-right: 20px;
  border-radius: 20px;
  height: 100vh;
  flex-basis: 85%;
}
.league--sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  border-bottom: 0.5px lightblue solid;
  margin-bottom: 0;
}
.league--sidebar button {
  width: 100%;
  height: 3rem;
  color: black;
  background-color: white;
  border: none;
  font-size: 1rem;
  text-align: left;
}
.league--sidebar li button.active {
  border-bottom: 3px lightblue solid;
  margin-bottom: 0;
}
* {
  font-family: 'Oxygen', sans-serif;
}
form {
  display: flex;
  flex-direction: column;
}
body {
  background-color: #1F1F1F;
  font-family: 'Oxygen', 'sans-serif';
}
form > * {
  margin: 1rem;
}
nav {
  display: flex;
  justify-content: space-around;
  z-index: 99;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', 'sans-serif';
  font-weight: 700;
}
a {
  text-decoration: none;
  font-family: 'Oxygen', 'sans-serif';
  font-weight: 400;
}
.team__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  background-color: white;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  border: none;
  border-radius: 7px;
  height: 100vh;
  box-shadow: 2px 2px 4px #888;
  height: 200vh;
}
.team__header {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-bottom: 1px;
  border-bottom: 0.5px grey solid;
}
.team__header-image {
  padding: 5px 20px 20px 5px;
  margin: 50px;
  border: 1px black solid;
  border-radius: 15px;
}
.team__content {
  margin-top: 0.5rem;
  height: 50vh;
  border-radius: 20px;
}
.team__header-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}
.team__header-info h5 {
  font-weight: bold;
  font-size: 2rem;
}
.team__header-info p {
  margin-bottom: 9px;
}
.team__content-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  border-bottom: 1px grey solid;
}
.team__content-nav ul > li:last-child {
  margin-left: auto;
  margin-right: 10px;
}
.team__content-nav li {
  margin: 5px;
}
.team__content-nav li button {
  margin: 5px;
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
.team__content-nav li button.active {
  border-bottom: 5px lightblue solid;
  margin-bottom: 0;
}
.landing__container {
  color: white;
}
.landing__header {
  background-size: cover;
  background: #1f1f1f;
  background: linear-gradient(#1f1f1f 0%, #db4242 35%, rgba(26, 26, 26, 0) 98%);
  padding: 10rem 0rem 10rem 20rem;
  height: 100vh;
}
.landing__header h1 {
  color: #fbfbfb;
  font-weight: 300;
  font-size: 6rem;
}
.landing__body-browse-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}
.landing__header p {
  margin: 50px 10rem 50px 100px;
  font-size: smaller;
  width: 50rem;
}
.landing__header button {
  margin-left: auto;
}
.landing__body-browse {
  height: 100vh;
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.landing__body-browse-leagues {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  margin: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.landing__browse-league-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 50 10px 50px;
  padding: 0 15px 0 9px;
  border: 0.5px grey solid;
  border-radius: 15px;
  background-color: #515b67;
}
.landing__card-image {
  margin-bottom: 50px;
}
.landing__body-browse-leagues::-webkit-scrollbar {
  width: 10px;
}
.landing__body-browse-leagues::-webkit-scrollbar-track {
  background-color: #1F1F1F;
}
.landing__body-browse-leagues::-webkit-scrollbar-thumb {
  background-color: #464444;
  border-radius: 5px;
}
.landing__body-browse-leagues::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.landing__body-browse-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination-arrows {
  display: flex;
  align-items: center;
}
.pagination-arrows.left {
  margin-right: auto;
}
.pagination-arrows.right {
  margin-left: auto;
}
.arrow {
  width: 40px;
  height: 70px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.arrow.right::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00cce3;
  transform: rotate(-90deg);
}
.arrow.left::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00cce3;
  transform: rotate(90deg);
}
.landing__body-browse-sports {
  margin: 3rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
}
.landing__sports-header {
  margin-bottom: 1rem;
}
.landing__sports-cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.landing__sports-card {
  border: 1px grey solid;
  border-radius: 15px;
  margin: 0 50 10px 50px;
  padding-left: 9px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  background-color: #515b67;
}
.home-container h1 {
  color: white;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-popular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-popular h3 {
  color: white;
  margin-bottom: 2px;
  text-decoration: underline;
  text-decoration-color: #008f99;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
}
.home-popular-cards {
  display: flex;
  gap: 5rem;
  margin: 2rem;
}
.home-popular-cards a {
  border-radius: 10px;
  padding: 15px 50px 15px 50px;
  color: white;
  background-color: #515b67;
}
.home-leagues {
  display: flex;
  flex-direction: column;
  background-color: #3f5357;
}
.home-leagues-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20 15 30 15;
}
.home-leagues-cards {
  display: flex;
  margin-left: 40px;
  flex-direction: row;
  flex-flow: wrap;
  gap: 2rem;
}
.home-leagues-cards h4 {
  color: white;
}
.home-leagues-cards p {
  color: white;
}
.home-league-card {
  background-color: #515b67;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  align-items: flex-start;
}
.home-league-card h2 {
  height: 125px;
}
.home-league-card-text {
  width: 100%;
}
.home-card-text-subtext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-card-text-subtext p {
  font-size: 0.7rem;
  margin: 0;
}
.matches-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.matches-header h2 {
  color: black;
  margin-left: 30px;
}
.matches-header h5 {
  color: #464646;
  font-size: 0.9rem;
  margin-left: 10px;
  margin-bottom: 10px;
}
.matches--match-container {
  background-color: #3c3e3f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  border: 1px grey solid;
  border-radius: 20px;
  max-width: 75%;
}
.matches--match-container h5 {
  color: black;
}
.matches--match {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vh;
}
@media (max-width: 1190px) {
  .matches--match {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .matches--match-upper {
    display: flex;
    flex-direction: column;
  }
  .matches--match-vs {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1190px) {
  .matches--match-vs-team {
    background-color: yellow;
    display: flex;
    flex-direction: column;
  }
}
.matches--match p {
  color: black;
}
.matches--match h5 {
  color: black;
}
.matches--match-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.matches--match-vs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}
.matches--match-vs p {
  margin: 0 10px 0 10px;
}
.matches-vs-team {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}
.matches-vs-team p:nth-child(2) {
  margin-top: 1px;
  font-size: smaller;
  font-style: italic;
  color: grey;
}
.matches--match-lower {
  display: flex;
  justify-content: space-between;
}
.standings__container {
  margin-top: 1rem;
}
.standings__container,
.table {
  margin-top: 1rem;
}
.table {
  width: 100%;
  color: blue;
}
.table__header {
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}
.table__cell {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}
.table__cell:first-child {
  border-top-left-radius: 0.25rem;
}
.table__cell:last-child {
  border-top-right-radius: 0.25rem;
}
.dashboard-sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.dashboard-sidenav div {
  padding-left: 2rem;
  margin-top: 2.5rem;
  font-size: 25px;
  color: #818181;
  display: block;
}
.dashboard-sidenav div:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 5rem;
  color: black;
}
.dashboard-profile-container {
  border-style: solid;
  width: 80%;
  height: 1000px;
  background-color: #252424;
  padding: 1rem;
}
.dashboard-player {
  display: flex;
  flex-direction: column;
}
.dashboard-director-container {
  border-style: solid;
  width: 60%;
  background-color: #252424;
  padding: 1rem;
}
.dashboard-director-table th,
.dashboard-director-table td {
  color: black;
  padding: 1rem;
}
.dashboard-manager-container {
  border-style: solid;
  width: 60%;
  background-color: #252424;
  padding: 1rem;
}
.dashboard-manager-table th,
.dashboard-manager-table td {
  color: black;
  padding: 1rem;
}
.form__createteam h1,
label {
  color: white;
}
