.league-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f6f3f3;
  height: 100vh;
  overflow-y: scroll;
}
.league-main {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
}
@media (max-width: 900px) {
  .league-main {
    margin-left: 10rem;
  }
}
.league-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}
.head-left {
  display: flex;
  flex-direction: row;
  margin-top: 1.2rem;
}
.league-head img {
  margin-right: 1rem;
}
.league-head h2 {
  margin-right: 1rem;
}
.league-main-upperbox {
  margin-top: 2rem;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 10px grey;
}
.league--navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  border-bottom: 0.5px lightblue solid;
  margin-bottom: 0;
  position: relative;
}
.league--navbar-items a {
  width: 100%;
  height: 3rem;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
  margin-right: 3rem;
}
.league--navbar-items a.active {
  color: red;
  margin-bottom: 0;
}
.league--navbar-items a:hover {
  cursor: pointer;
}
* {
  font-family: "Roboto", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
}
body {
  background-color: #f6f3f3;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  margin: 0;
}
form > * {
  margin: 1rem;
}
@media (max-width: 900px) {
  footer {
    font-size: 12px;
  }
  footer a {
    font-size: 10px;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  letter-spacing: 0.2rem;
}
.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f6f3f3;
  height: 100vh;
}
.team-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media (max-width: 900px) {
  .team-main {
    margin-left: 10rem;
  }
}
.team-head {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 2rem;
}
.team-head img {
  margin-right: 1rem;
}
.team-head h2 {
  margin-right: 1rem;
}
.team-main-upper {
  margin-top: 2rem;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 10px grey;
}
.team--navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  border-bottom: 0.5px lightblue solid;
  margin-bottom: 0;
  position: relative;
}
.team--navbar-items a {
  width: 100%;
  height: 3rem;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
  margin-right: 3rem;
}
.team--navbar-items a.active {
  color: red;
  margin-bottom: 0;
}
.team--navbar-items a:hover {
  cursor: pointer;
}
.landing__container {
  color: #fffff0;
}
.landing__header {
  background-size: cover;
  background: #1f1f1f;
  background: linear-gradient(#1f1f1f 0%, #db4242 65%, rgba(26, 26, 26, 0) 99%);
  padding: 10rem 0rem 10rem 20rem;
  height: 100vh;
}
.landing__header h1 {
  color: #fbfbfb;
  font-weight: 300;
  font-size: 6rem;
}
.landing__body-browse-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}
.landing__header p {
  margin: 50px 10rem 50px 100px;
  font-size: smaller;
  width: 50rem;
}
.landing__header button {
  margin-left: auto;
}
.landing__body-browse {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.landing__body-browse-leagues {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  margin: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.landing__browse-league-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 50 10px 50px;
  padding: 0 15px 0 9px;
  border: 0.5px grey solid;
  border-radius: 15px;
  background-color: #203e4a;
}
.landing__card-image {
  margin-bottom: 50px;
}
.landing__body-browse-leagues::-webkit-scrollbar {
  width: 10px;
}
.landing__body-browse-leagues::-webkit-scrollbar-track {
  background-color: #112222;
}
.landing__body-browse-leagues::-webkit-scrollbar-thumb {
  background-color: #464444;
  border-radius: 5px;
}
.landing__body-browse-leagues::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.landing__body-browse-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination-arrows {
  display: flex;
  align-items: center;
}
.pagination-arrows.left {
  margin-right: auto;
}
.pagination-arrows.right {
  margin-left: auto;
}
.arrow {
  width: 40px;
  height: 70px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.arrow.right::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00cce3;
  transform: rotate(-90deg);
}
.arrow.left::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00cce3;
  transform: rotate(90deg);
}
.landing__body-browse-sports {
  margin: 3rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
}
.landing__sports-header {
  margin-bottom: 1rem;
}
.landing__sports-cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.landing__sports-card {
  border: 1px grey solid;
  border-radius: 15px;
  margin: 0 50 10px 50px;
  padding-left: 9px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  background-color: #203e4a;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F5F7FB;
}
.home-container h1 {
  color: black;
}
.home-popular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.home-popular h3 {
  color: black;
  margin-bottom: 2px;
  text-decoration: underline;
  text-decoration-color: #008f99;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
}
.home-popular-cards {
  display: flex;
  gap: 5rem;
  margin: 2rem;
}
.home-popular-cards button {
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  color: black;
  background-color: white;
}
.home-leagues {
  display: flex;
  flex-direction: column;
  background-color: #F5F7FB;
  margin: 5rem;
}
.home-leagues-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20 15 30 15;
}
.home-leagues-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  gap: 2rem;
}
.home-leagues-cards a {
  text-decoration: none;
}
.home-leagues-cards h4 {
  color: #fffff0;
}
.home-leagues-cards p {
  color: #fffff0;
}
.home-league-card p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  align-items: flex-start;
}
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  margin-bottom: 1rem;
}
.matches--match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.matches--match {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 7px grey;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}
.standings__container {
  margin-top: 1rem;
}
.standings__container,
.table {
  margin-top: 0.5rem;
}
.table {
  width: 100%;
  color: blue;
}
.table__header {
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}
.table__cell {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}
.table__cell:first-child {
  border-top-left-radius: 0.25rem;
}
.table__cell:last-child {
  border-top-right-radius: 0.25rem;
}
.create-team-leagueLogo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.create-team-leagueName {
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 5px;
}
.create-team-card {
  border-radius: 1rem;
  background-color: #fdfffc;
}
.create-team-title {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}
.createleague {
  background-color: #F5F7FB;
}
.createleague label {
  color: black;
}
.league-logo {
  width: 8rem;
  height: 8rem;
  border: 2px solid grey;
}
.league-logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 770px) {
  * {
    font-size: 10px;
  }
  label {
    font-size: 10px;
  }
}
@media (max-width: 990px) {
  * {
    font-size: 12px;
  }
}
.typography.text-secondary {
  color: red;
}
.sidebar {
  position: sticky;
  top: 0px;
  height: 100vh;
  background-color: white;
  color: black;
  margin: 0;
  width: 15rem;
  padding: 20px;
  box-shadow: 1px 1px 5px grey;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu span {
  font-size: 1rem;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 1rem;
}
.item:hover {
  cursor: pointer;
}
.nav-link Link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.stats-main {
  margin: 1rem;
}
.stats-content-body {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats--navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
}
.stats--navbar-items a {
  width: 100%;
  height: 1rem;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
  margin-right: 1rem;
}
.stats--navbar-items a.active {
  color: #ff5f5f;
  margin-bottom: 0;
}
.stats--navbar-items a:hover {
  cursor: pointer;
}
.announcements__post {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px grey;
  margin: 1rem;
  padding-left: 0.5rem;
}
.post-bottom {
  margin: 1rem;
}
.post-bottom span {
  margin-right: 1rem;
}
.rightnav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  width: -200%;
}
.rightnav-matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-right: 1rem;
  margin-top: 2rem;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 7px grey;
}
.rightnav-match span {
  margin: 0.5rem;
}
.rightnav-announcements {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 7px grey;
  margin-top: 1rem;
  width: 53%;
}
.rightnav-container > * {
  width: 100%;
}
/* ---------- NavBar Customization ---------- */
nav {
  display: flex;
  justify-content: space-around;
  z-index: 99;
}
/* Hide the dropdown arrow below icon */
.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}
.newsfeed-container {
  display: flex;
  justify-content: column;
}
.newsfeed__createpost {
  background-color: white;
  margin: 2rem 0 1rem 0;
  box-shadow: 0 0 7px grey;
}
.newsfeed__createpost input {
  background-color: #f6f3f3;
  border: none;
  border-radius: 25px;
}
.newsfeed__createpost input::placeholder {
  margin-left: 0.5rem;
}
.newfeed__posts {
  display: flex;
  flex-direction: column;
}
.newsfeed__post {
  background-color: white;
  margin: 2rem 0 1rem 0;
  padding: 1rem;
  box-shadow: 0 0 7px grey;
}
.newsfeed__post-upper {
  display: flex;
  flex-direction: column;
}
.newsfeed__post-upper span {
  font-weight: bold;
}
.newsfeed__post-content {
  margin: 0.5rem;
}
.newsfeed__post-lower {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  border-top: 0.5px solid #bcbcbc;
  border-bottom: 0.5px solid #bcbcbc;
}
.newsfeed__post-lower span {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 25px;
}
.newsfeed__post-lower span:hover {
  background-color: #eaeaea;
  cursor: pointer;
}
/* ---------- Login Customization ---------- */
.forgot-password {
  text-decoration: none;
}
.forgot-password:hover {
  font-size: 16px;
  transition: 0.3s;
  text-decoration: underline;
}
.sign-up {
  text-decoration: none;
}
.sign-up:hover {
  font-size: 18px;
  transition: 0.3s;
  text-decoration: underline;
}
.social-icon:hover {
  font-size: 20px;
  transition: 0.3s;
}
/* ---------- Register Customization ---------- */
.register-login {
  text-decoration: none;
}
.register-login:hover {
  text-decoration: underline;
  font-size: 18px;
  transition: 0.3s;
}
.request-modal-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------- Staff Customization ---------- */
.staff-list img {
  width: 50%;
}
.staff-list .content {
  width: 50%;
}
.staff-list .content .follow {
  position: absolute;
  bottom: 24px;
}
.staff-list:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.staff,
.staff-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}
.staff .content .title,
.staff-list .content .title {
  font-size: 18px;
}
.staff .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.staff .member-position,
.staff .staff-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}
.staff-title {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
}
.staff .staff-social {
  bottom: 40px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}
.staff:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.staff:hover .overlay {
  opacity: 0.6;
}
.staff:hover .staff-social {
  opacity: 1;
}
@media (max-width: 768px) {
  .staff-list img,
  .staff-list .content {
    width: 100%;
    float: none !important;
  }
  .staff-list img .follow,
  .staff-list .content .follow {
    position: relative;
    bottom: 0;
  }
}
.social-icon.social li a {
  color: #707070;
  border-color: #707070;
}
.social-icon li a {
  color: #35404e;
  border: 1px solid #35404e;
  display: inline-block;
  height: 32px;
  text-align: center;
  font-size: 15px;
  width: 32px;
  line-height: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}
.rounded {
  border-radius: 5px !important;
}
.para-desc {
  max-width: 600px;
}
.text-muted {
  color: #8492a6 !important;
}
.section-title .title {
  letter-spacing: 0.5px;
  font-size: 3rem;
}
.requestform__container {
  height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.profile-icon {
  font-size: 20px;
  margin-right: 7px;
}
@media (max-width: 900px) {
  .profile-tabs {
    font-size: 13px;
  }
}
.dashboard__container {
  height: 100vh;
  display: flex;
  flex-direction: flex;
  background-color: #112222;
}
.dashboard__navbar {
  display: flex;
  flex-basis: 13%;
  height: 100vh;
  background-color: #203e4a;
  width: 100%;
}
.dashboard__navbar-items {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}
.dashboard__navbar-items a {
  margin-left: 0.7rem;
  color: #fffff0;
  text-decoration: none;
  padding: 0.65rem;
  cursor: pointer;
}
.dashboard__navbar-items a:hover {
  background-color: #386e84;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dashboard__navbar-items h6 {
  font-size: 0.75rem;
  color: #fffff0;
  text-decoration: none;
}
.dashboard__home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100vh;
}
.dashboard__home-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  margin-left: 3rem;
}
.dashboard__main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fffff0;
  margin: 2rem 0 3rem 2rem;
}
.main-body-upper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.widget__container {
  display: flex;
}
.widget__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.widget__card {
  background-color: #203e4a;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 8px;
  width: 15rem;
}
.widget__card-center p {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
  color: #fffff0;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
.widget__card-center p:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.widget__card-upper {
  color: #fffff0;
  display: flex;
  justify-content: space-between;
}
.card-icon {
  color: #fffff0;
  transition: transform 0.3s ease-in-out;
}
.card-icon:hover {
  transform: scale(1.5);
}
.widget__card-lower {
  color: #fffff0;
  font-size: 0.75rem;
}
.dashboard__leaguedata-container {
  display: flex;
}
.main-body-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5rem;
  margin-top: 3rem;
  border-top: 0.5px solid #386e84;
  padding-top: 3rem;
}
.dashboard__main-content {
  display: flex;
  margin-left: 5rem;
  margin-top: 5rem;
  height: 50vh;
}
.post__card {
  background-color: #203e4a;
  height: 10rem;
  width: 30rem;
}
.post__card-upper p {
  color: #fffff0;
}
p {
  margin-bottom: 0;
}
.inbox__container {
  display: flex;
  flex-direction: column;
  background-color: #203e4a;
  border-radius: 8px;
}
.inbox__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  color: #fffff0;
  border-bottom: 3px solid #386e84;
}
.inbox__header h4 {
  margin: 1rem 0rem 0.5rem 1rem;
}
.inbox__header-requests {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}
.inbox__header-requests p:first-child {
  font-size: 1rem;
}
.inbox__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  gap: 5rem;
  background-color: #203e4a;
  border-bottom: 0.5px solid #386e84;
  margin-bottom: 0;
  height: 100%;
  padding: 0.5rem;
  cursor: pointer;
}
.inbox__row li {
  color: #fffff0;
}
.inbox__row:hover {
  background-color: #386e84;
}
.inbox__row-content button {
  border: none;
  background-color: #fffff0;
  text-decoration: none;
  border-radius: 5px;
  margin: 1rem;
}
.inbox__content {
  height: 100%;
  width: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.inbox__content h4,
p {
  color: #fffff0;
}
.inbox__content p {
  font-weight: 100px;
  font-size: 0.85rem;
}
.inbox__content-top {
  border-bottom: 1px #386e84 solid;
  margin: 1rem;
  padding-bottom: 1rem;
}
.inbox__content-main {
  background-color: #386e84;
  height: 50%;
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.inbox__content-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}
.inbox__content-lower button {
  border: none;
  border-radius: 5px;
  background-color: #386e84;
  color: #fffff0;
  padding: 5px 15px 5px 15px;
}
.dashboard__leagues-container {
  background-color: #203e4a;
  border-radius: 8px;
}
.leagues-title {
  border-bottom: 2px #386e84 solid;
  margin: 5px;
}
.leagues-title p {
  color: #fffff0;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dashboard__leagues-table {
  background-color: #203e4a;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.leagues-table-row {
  border-bottom: 0.5px #386e84 solid;
  cursor: pointer;
}
.leagues-table-row:hover {
  background-color: #386e84;
}
.leagues-table-header {
  color: #fffff0;
  padding: 1rem;
}
.leagues-table-data {
  color: #fffff0;
  padding: 1rem;
}
.leagues-bottom {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
.leagues-bottom p {
  color: #fffff0;
  margin-bottom: 0;
}
